body {
    background-color: lightgray;
    margin: 0px !important;
}

@media (max-width:5000px){
    .headers{
        width: 100vw !important;
    }
    .container-group-top{
        width: 500px !important;
    }
    #nav-bar{
        width: 800px;
    }
    .nav-item{
        size: 16px !important;
    }
    #nav-bar, .flex-group{
        display: flex !important;
        margin: auto !important;
        justify-items: center !important;
    }
    .flex-group{
        justify-content: center !important;
    }
}

@media (max-width:768px){
    .headers{
        width: 100vw !important;
    }
    header{
        justify-items: center !important;
    }
    .container-group-top{
        width: 95vw !important;
    }
    .sidebar{
        display: block !important;
        margin: auto !important;
        justify-items: center !important;
    }
    #nav-bar{
        margin-left: 30px !important;
    }
    .nav-item{
        font-size: 12px !important;
    }
}

@media (max-width:380px){
    .headers{
        width: 100vw !important;
    }
    .container-group-top{
        width: 98vw !important;
    }
    #nav-bar{
        width: 300px !important;
    }
}

:root{
    --main-color: blue;
}

.headers{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

header{
    color:white;
    font-size: large;
    background-color: black;
    border: 20px solid black;
    width: 5000px;
    display: flex nowrap;
}

#nav-bar{
    padding: 10px 0px;
    border-bottom: 1px solid darkgray !important;
}

.nav-bar{
    display: inline;
    justify-content: space-around;
    list-style-type: none;
}

.nav-item {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        font-weight: lighter;
        display: inline;
        padding: 5px 40px 0px 0px;
        text-transform: uppercase;
    }

li a{
    text-decoration: none;
    border-bottom: 2px, solid, darkgray;
}

.nav-item span{
    color:  gray;
}

.nav-item span:hover{
    color: black;
}

#cloud svg {
    height: 25px;
    width: 25px;
    position: relative;
    left: 10px;
    bottom: 5px;
   }

   path {
     fill: black;
     stroke: white;
     stroke-width: 2;
     stroke-linejoin: round;
}

.cloud2 svg{
        height: 80px;
        width: 80px;
        position: relative;
        top: 10px;
        left: 20px;
    }
.cloud2 svg path {
        fill: white;
        stroke: gray;
        stroke-width: 2;
        stroke-linejoin: round;
     }


input{
    position: relative;
    left: 200px;
}


#space{
    word-spacing: 3px;
    color:gray;
    font-size: 14px;
    font-weight: lighter;
}

#mid{
    margin: none;
}

.container .current{
    margin: 10px !important;
}

.current{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 1px 6px;
    line-height: 0px;
}

.current .temp{
    text-align: center;
    font-size: 85px;
}

.current .real{
    text-align: center;
    position: relative;
    bottom: 60px;
    left: 50px;
}

.bottom{
    text-align: center;
    position: relative;
    bottom: 70px;
    left: 30px;
}

#description{
    position: relative;
    bottom: 20px;
}

.current #details{
    position: relative;
    bottom: 40px;
    text-align: right;
}

sub{
    font-size: 30px;
    color: gray;
    position: relative;
    right: 25px;
    bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.description{
    display: flex;

}

.minute{
    margin: 0px 10px;
    font-style: Tahoma;
    color: white;
    background-color: blue;
    border: 1px solid blue;
    line-height: 0px;
    padding-left: 12px;
    position: relative;
    bottom: 30px;
}

.air h3{
        border-bottom: 2px solid lightgray;
    }


.air{
    margin: 10px;
    padding: 10px;
    background-color: white;
}

.categories .label{
    text-transform: uppercase;
    font-size: 12;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: 10px;
}

.categories{
    
    margin-left: 5px;
    padding-top: 20px;
    text-decoration: none;
}

.categories ul{
    padding:0px;
    list-style:none;
    color:black;
    font: weight 300px;
    border-top: 1px solid gray;
}

.categories li{
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid gray;
}

#time{
    color:gray;
    font-size: small;
    line-height: 0px;
    font-weight: bold;
    text-align: start;
}

#based{
    font-size: 12px;
    line-height: 0px;
}

.flex-group{ 
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.sidebar{
    max-width: 300px;
    margin: 10px;
}

.sidebar-boxes{
    background-color: white;
}

.sidebar-boxes *{
    padding: 0px 5px;
    margin: 0px;
}

.sidebar-group, .stories, #border-bottom{
    border-bottom: 1px solid lightgray;
    padding: 5px;
}

.stories{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding: 16px 12px;
}

.sidebar-box{
    font-size: 12px;
    color: gray;
    text-transform: uppercase;
    padding-top: 12px;
}

.sidebar-info{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 1.25 !important;
}

.time-info{
    font-size: 12px;
    color: gray;
    padding-bottom: 12px;
}

#border, #border-pod{
    padding-top: 12px;
}

#border-pod{
    padding-bottom: 12px;
}

#more{
    display: block;
    font-weight: 700;
    font-size: 14px;
    padding: 10px;
}

.featured{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    border-bottom: 1px solid lightgray;
    padding: 12px 16px;
}
